/* *{
   
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    background: #7f9ead;

} */
.container{
    height: 100vh;
    
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Raleway",Arial, Helvetica, sans-serif;
    background: #7f9ead;
}

.card{
   position: relative; 
   width: 300px;
   height: 200px;
   border-radius: 10px;
   box-shadow: 0px 5px 20px rgba(red, green, blue, 0.5);
   transition: 0.3s;
   padding: 30px 40px;
   background: #fff;
   cursor: pointer;
   margin-left: 10px;
}
.card:hover{
    height: 375px;
}
.imgbox{
    position: relative;
    width: 100%;
    height: 100%;
    transform: translateY(-100px);
    border-radius: 10px;
    z-index: 99;

}

img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0px 5px 20px rgba(red, green, blue, 0.5);

}

.content{
    padding: 10px 20px;
    text-align: center;
    transform: translateY(-440px);
    opacity: 0;
    transition: 0.5s;
}
.card:hover > .content{
    opacity: 1;
    transform: translateY(-300px);
}

